body {
    overflow-x: hidden !important;
}
section {
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section  > img {
    width: 30vw;
    height: 25vw;
}
section .section-content {
    width: 35vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#why-syntax {
    height: auto !important;
}
#mobile-roadmap {
    display: none;
}
@media screen and (max-width: 768px) {
    section {
        gap: 30px;
    }
    section > img {
        width: 40vw;
    }
    section > .section-content {
        width: 40vw;
    }
}
@media screen and (max-width: 600px){
    section {
        flex-direction: column;
        justify-content: space-evenly;
    }
    section .section-content {
        width: 80vw;
        height: 30vh;
    }
    section > img {
        width: 80vw;
        height: 30vh;
    }
    #why-syntax {
        height: auto;
    }
    section .section-content .action {
        display: flex;
        flex-direction: row;
        gap: 10px;
        display: flex;
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 30px !important;
    }
    .row {
        flex-wrap: wrap;
        align-items: center;
        gap: 30px !important;
    }
    .row .card {
        width: 90vw !important;
        height: auto !important;
        align-items: center;
    }
    #web-roadmap {
        display: none;
    }
    #mobile-roadmap {
        display: flex;   
    }
}
@keyframes vibrate {
    0% { transform: translate(0); }
    10% { transform: translate(-1px, 1px); }
    20% { transform: translate(-2px, 2px); }
    30% { transform: translate(-3px, 3px); }
    40% { transform: translate(-2px, 2px); }
    50% { transform: translate(-1px, 1px); }
    60% { transform: translate(1px, -1px); }
    70% { transform: translate(2px, -2px); }
    80% { transform: translate(3px, -3px); }
    90% { transform: translate(2px, -2px); }
    100% { transform: translate(1, -1); }
}
.vibrate {
    animation: vibrate 1.5s infinite;
}
.cards-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px !important;
}
.row {
    width: 100vw;
    justify-content: center;
    gap: 3vw;
    display: flex;
}
.card {
    width: 30vw !important;
    height: auto;
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    gap: 10px;
}
.card .title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card .title i {
    font-size: 40px;
}