:root {
    --main-color:#a4040b;
    --main-dark-color: #870209;
    --second-color: #fff;
    --white-space: #171717;
    --font-color: #fff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
}
body {
    background-color: var(--white-space) !important;
    color: var(--font-color) !important;
    font-family: 'Courier New', Courier, monospace !important;
}
header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 10;

}
header .brand {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}
header .brand img {
    width: 50px !important;
}
header ul {
    display: flex;
    gap: 15px;
    font-size: 30px;
    list-style: none;
    letter-spacing: 0pt;
    word-spacing: 0pt !important;
}
header ul * {
    line-height: normal;
}
header ul .active, 
header ul li a:hover {
    /* background-color: var(--main-dark-color);
    padding: 0px 10px;
    border-radius: 10px; */
    border-bottom: solid 2px var(--font-color);
}
header #menu-btn {
    display: none;
}
@media screen and (max-width: 680px) {
    header ul {
        display: none;
    }
    header #menu-btn {
        display: inline-block;
    }
}
.hidden-nav {
    background-color: var(--main-color);
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 40px;
    font-size: 40px;
    position: absolute;
    right: 100%;
    bottom: 0;
    transition: right ease-out 0.5s ;
}
.hidden-nav.show {
    right: 0 !important;
}
@media screen and (min-width: 681px) {
    .hidden-nav {
        display: none;
    }    
}
@media screen and (min-width: 1500px) {
    header {
        height: 100px;
    }
    .brand h1 {
        font-size: 60px !important;
    }
    ul {
        font-size: 40px !important;
    }
}
main {
    margin-top: 70px;
}